<section class="center-vertical">
	<h1><%= User.find(session[:user]).name %>の投稿</h1>
	<% User.find(session[:user]).posts.each do |post| %>
		<div class="post center-vertical">
			<img src=<%= post.image %> width="125" height="125">
			<p>アーティスト： <%= post.artist %></p>
			<p>アルバム： <%= post.album %></p>
			<p>曲名： <%= post.song %></p>
			<p><a href="<%= post.sample %>">サンプル</a></p>
			<p>コメント： <%= post.comment%></p>
			<p>投稿者： <%= User.find(post.user_id).name %></p>
			<p>いいねしたユーザー</p>
			<p><a href="/post/<%= post.id %>/del">削除</a></p>
			<p><a href="/post/<%= post.id %>/edit">編集</a></p>
		</div>
	<% end %>
</section>

<section class="center-vertical">
	<h1><%= User.find(session[:user]).name %>のイイねした投稿</h1>
	<p>イイねがありません</p>
	<% User.find(session[:user]).liked_posts.each do |liked_post| %>
		<div class="post center-vertical">
			<img src=<%= liked_post.image %> width="125" height="125">
			<p>アーティスト： <%= liked_post.artist %></p>
			<p>アルバム： <%= liked_post.album %></p>
			<p>曲名： <%= liked_post.song %></p>
			<p><a href="<%= liked_post.sample %>">サンプル</a></p>
			<p>コメント： <%= liked_post.comment%></p>
			<p>投稿者： <%= User.find(liked_post.user_id).name %></p>
			<p>いいねしたユーザー</p>
			<% liked_post.liked_users.each do |liked_user| %>
			<div class="user-box">
				<img src="<%= liked_user.image %>" alt="user_image" width="40" height="40">
			</div>
			<% end %>
		</div>
	<% end %>
</section>

<section class="center-vertical">
	<h1><%= current_user.name %>のフォロー</h1>
	<% current_user.friends.each do |friend| %>
	<p><%= User.find(friend.follow_id).name %></p>
	<a href="follow/<%= friend.follow_id %>/del">フォロー解除</a><br>
	<% end %>
</section>

<section class="center-vertical">
	<h1><%= current_user.name %>のフォロワー</h1>
	<% unless Friend.find_by(follow_id: session[:user]).nil? %>
	<% Friend.where(follow_id: session[:user]).each do |friend| %>
	<p><%= User.find(friend.user_id).name %></p>
	<% end %>
	<% end %>
</section>

