<section class="center-vertical">
	<h1><%= User.find(session[:user]).name %>の投稿</h1>
	<% User.find(session[:user]).posts.each do |post| %>
		<div class="post center-vertical">
			<img src=<%= post.image %> width="125" height="125">
			<p>アーティスト： <%= post.artist %></p>
			<p>アルバム： <%= post.album %></p>
			<p>曲名： <%= post.song %></p>
			<p><a href="<%= post.sample %>">サンプル</a></p>
			<p>コメント： <%= post.comment%></p>
			<p>投稿者： <%= User.find(post.user_id).name %></p>
			<p>いいねしたユーザー</p>
			<p><a href="/post/<%= post.id %>/del">削除</a></p>
			<p><a href="/post/<%= post.id %>/edit">編集</a></p>
		</div>
	<% end %>
</section>

<section class="center-vertical">
	<h1><%= User.find(session[:user]).name %>のイイねした投稿</h1>
	<p>イイねがありません</p>
</section>

<!--
<section class="center-vertical">
	<h1>〇〇のフォロー</h1>
	<a href="#">フォロー解除</a><br>
</section>

<section class="center-vertical">
	<h1>〇〇のフォロワー</h1>
</section>
-->
