<section class="first-view center-vertical">
	<h1>MUSIC SNS!!!</h1>
	<% unless session[:user] %>
	<!-- standard
	<div class="login_button">
		<form action="/login" method="post">
			<input type="text" name="user" placeholder="ユーザー名"></br>
			<input type="password" name="password" required placeholder="パスワード"></br>
			<input type="submit" value="Sing in">
		</form>
	</div>
	-->
	<div class="login_button">
		<a href="/twitter" ><img src="/assets/img/sign-in-with-twitter.png"></a>
	</div>
	<% end %>
</section>

<section class="center-vertical">
	<h1>最新の投稿</h1>
	
	<% Post.all.limit(30).each do |post| %>
	<div class="post center-vertical">
		<img src="<%= post.image %>" width="125" height="125">
		<p>アーティスト: <%= post.artist %></p>
		<p>アルバム: <%= post.album %></p>
		<p>曲名: <%= post.song %></p>
		<p><a href="<%= post.sample %>">サンプル</a></p>
		<p>コメント: <%= post.comment %></p>
		<p>投稿者: <%= User.find(post.user_id).name %></p>
		<!--
		<a href="#">フォローする</a>
		<a href="#">フォロー解除</a>
		-->
		<p>いいねしたユーザー</p>
		<% post.liked_users.each do |liked_user| %>
		<div class="user-box">
			<img src="<%= liked_user.image %>" alt="user_image" width="40" height="40">
		</div>
		<% end%>
		<!--
		<form name="form_1" id="form_1" action="/post/<%= post.id%>/like">
			<a href="javascript:form_1.submit()">いいねする</a>	
		</form>
		-->
		<% if !post.liked_users.find_by(id: session[:user]) %>
		<a href="/post/<%= post.id %>/like">いいねする</a>
		<% else %>
		<a href="/post/<%= post.id %>/del_like">いいね解除</a>
		<% end %>
	</div>
	<% end %>
	
	<div class="post center-vertical">
		<img src="" width="125" height="125">
		<p>アーティスト: 〇〇</p>
		<p>アルバム: 〇〇</p>
		<p>曲名: 〇〇</p>
		<p><a href="#">サンプル</a></p>
		<p>コメント: 〇〇</p>
		<p>投稿者: 〇〇</p>
		<a href="#">フォローする</a>
		<a href="#">フォロー解除</a>
		<p>いいねしたユーザー</p>
		<div class="user-box">
			<img src="" alt="user_image" width="40" height="40">
		</div>
		<a href="#">いいねする</a>
	</div>

	<%# TODO: ここで分岐 %>
	<p>投稿がありません</p>
</section>
